html {
  height: 100%;
}

.main-body{
  height: 100%;
  width: 100%;
  background: #283c4f;
  color: white;
}

.box{
 /* margin: 5px auto;*/
  width: 300px;
  height: 0px;
}
  /* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #4a6c8e;
    /*border-bottom: 1px solid white;*/
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    background-color: #4a6c8e;

    width: 95%;
    margin: auto;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 22px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #395168;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #395168;
}


/* Style the tab content */
.tabcontent {
  background-color: #395168;
  display: none;
  padding: 6px 12px;
  /*border: 1px solid #ccc;*/
  border-top: none;
  width: 95%;
  margin: auto;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;

  padding: 0;
  margin: 0;
  list-style: none;

  max-height: 100%;
  width: 100%;
  margin: auto;
  /*background-color: whitesmoke;*/
}

.flex-item {

 padding: 5px;

   min-height: 215px;
  max-height: 500px;
 color: white;
  /*text-align: center;*/

  border-radius: 5px;
  margin: 10px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin:0px auto;
  padding-left:20px;

}
.container-1 input#search{
  width: 300px;
  height: 40px;
  background: #2b303b;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 25px;
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 10px;
  z-index: 1;
  color: #4f5b66;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}

.container-1 input#search:-ms-input-placeholder {
   color: #65737e;
}

#navbar-custom {
  background: #182633;
  border-radius: 0px;
  color: white;
  border: none;
}

#navbar-custom .navbar-brand {
  color: #19bc9d;
}

#navbar-custom .navbar-nav li a{
  color:white
}

#navbar-custom .navbar-nav li a:hover {
  background: #19bc9d;
  color: white;
  text-shadow: 0 0 0;
}

#navbar-custom .navbar-nav li a:focus {
  background: #283c4f;
  color: white;
  text-shadow: 0 0 0;
  border: none;
}

#navbar-custom .navbar-nav .active a {
  background: #182633;
}

/* The side navigation menu */
.sidenav {
    color: white;
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main-image {
  margin-left: 50px;
  width: 70%;
  border-radius: 15px;
}
/*.user-images {
    display: inline-block;
    min-width: 55%;
    max-width: 63%;

    min-height: 171px;
    max-height: 215px;
}*/

.user-images {
    border-radius: 10px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
ul.flex-container li {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

#viewCart {
  float: right;
  margin: 15px;
}

#addToCart {
  margin: 10px 0px 10px 30px;
}

.dropdown-toggle:hover + .dropdown-menu {
    display: block;
}

.dropdown-menu:hover {
  display:block;
}
